{% extends "sMntBase.html" %} 
{%load static%}
{%block AdditionalAssets%} 
<link rel="stylesheet" type="text/css" href="{% static 'aMgnt/assets/my_css/semantic-UI-hot-fix.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'aMgnt/assets/my_css/toastr-position-hot-fix.css' %}">
<style>
  .ui.blue.button {background-color: #024fcc; color: white;}
  .btn-height{height: 30px;}
  #toast-container > .toast-error {background-color: #f20000;}
  .perfect{width: 250px; height: 130px;}
  .table-header{background-color: rgba(255,255,255,1.);}
  body{overflow-y: scroll;}
</style>
{%endblock AdditionalAssets%}


{%block content%}
{%endblock content%}



{%block scripts%}
{%endblock scripts%}